<div *ngIf="loading" class="loading-indicator">
  <p>Loading data, please wait...</p>
</div>

<div *ngIf="!loading && !errorMessage">
  <div class="discipline-info">
    <form [formGroup]="form">
      <label for="date">Select Date</label>
      <input
        id="date"
        type="date"
        formControlName="selectedDate"
        (change)="dateTouched = true"
        required
      />
      <div *ngIf="form.get('selectedDate')?.invalid && dateTouched" class="error">
        Date is required
      </div>

      <table>
        <thead>
        <tr>
          <th>Student</th>
          <th>Grade (0-100)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let studentControl of studentsFormArray.controls; let i = index">
          <td>{{ studentControl.get('name')?.value }}</td>
          <td>
            <input
              type="number"
              (input)="handleGradeInput($event, i)"
              min="0"
              max="100"
            />
            <div
              *ngIf="studentControl.get('grade')?.invalid && (studentControl.get('grade')?.touched || dateTouched)"
              class="error"
            >
              Grade must be between 0 and 100 or null.
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <button (click)="saveGrades()" [disabled]="isFormInvalid()">Save</button>
    </form>
  </div>
</div>

<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>
